<div class="glen-header">
  <div class="glen-header-wrapper">
    <div class="glen-header-about">
      <h1>{{ include.myself.name }}</h1>
      <h3 class="glen-header-about-glen">
        <span>{{include.myself.address}}</span>
        <span>{{include.myself.phone}}</span>
        <span>{{include.myself.email}}</span>
      </h3>
    </div>
    
    <div class="glen-header-links">
      {% for link in include.myself.external %}
      <a target="_blank" href="{{link.url}}">{{link.title}}</a>
      {% endfor %}
    </div>
  </div>
</div>