<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    {% for section in include.sections %}
    <div class="main_content_section {{section.key}}">
      <h3>{{section.value}}</h3>
      
      {% case section.key %}

      <div class="main_content_content">
      {% when 'summary' %}
          {% include {{section.key}}.html data=section.content %}
      {% when 'education' %}
        {% include education.html data=section.content %}
      {% when 'skills' %}
        {% include skills.html data=section.content %}
      {% when 'experience' %}
        {% include experience.html data=section.content %}
      {% when 'coursework' %}
        {% include coursework.html data=section.content %}
      {% when 'projects' %}
        {% include projects.html data=section.content %}
      </div>
      {% endcase %}
    </div>
    {% endfor %}
  </section>
</div>