<div class="glen-content">
  {% for section in include.sections %}
  <div class="glen-section {{section.key}}">
    <h3 class="glen-section-heading">
      <span>{{section.value}}</span>
    </h3>
    {% case section.key %}

    {% when 'summary' %}
        {% include {{section.key}}.html data=section.content %}
    {% when 'education' %}
      {% include education.html data=section.content %}
    {% when 'skills' %}
      {% include skills.html data=section.content %}
    {% when 'experience' %}
      {% include experience.html data=section.content %}
    {% when 'coursework' %}
      {% include coursework.html data=section.content %}
    {% when 'projects' %}
      {% include projects.html data=section.content %}
    {% endcase %}
  </div>
  {% endfor %}
</div>