---
---
$paleCerulean: #98C1D9;
$smokyBlock: #0F0C0B;
$pictonBlue: #30BCED;
$middleRedPurple: #171738;
$veryPaleYellow: #F9FBB2;
$azureishWhite: #E1EBF1;

body {margin: 0;}
a {padding: 0 8px;text-decoration: none;}

@mixin fontSize($size) {
  font-size: $size;
}
@mixin brightTextHover {
  &:hover {
    background: $pictonBlue;
  }
}
@mixin banner {
  background: $paleCerulean;
  color: $smokyBlock;
  border-top: solid 4px $pictonBlue;
  border-bottom: solid 4px $pictonBlue;
  a {
    color: $azureishWhite;
    @include brightTextHover;
  }
}

@mixin titleTypography {
  .data-value {
    text-transform: uppercase;
  }
  &:hover {
    .data-value {
      font-weight: bold;
    }
  }
}

@mixin descriptionTypography {
  &:hover {
    .data-desc {
      font-style: italic;
    }
  }
}

@mixin dateTypography {
  .data-date {
    &:before {
      content: ' [ ';
    }
    &:after {
      content: ' ] ';
    }
  }
  &:hover {
    .data-date {
      font-weight: bold;
      padding: 0 8px;
      &:before {
        content: ' { ';
      }
      &:after {
        content: ' } ';
      }
    }
  }
}

@mixin dateRangeTypography {
  .data-startDate {
    &:before {
      content: ' [ ';
    }
    &:after {
      content: ' - ';
    }
  }
  .data-endDate {
    &:after {
      content: ' ] ';
    }
  }
  &:hover {
    .data-startDate {
      font-weight: bold;
      &:before {
        content: ' { ';
      }
    }
    .data-endDate {
      font-weight: bold;
      &:after {
        content: ' } ';
      }
    }
  }
}

@mixin dutiesTypography {
  .data-duties {
    display: flex;
    flex-direction: column;
  }
  &:hover {
    .data-duties span {
      &:before {
        content: ' - ';
        padding-left: 8px;
      }
    }
  }
}

.glen-header {
  @include banner;
  margin-top: 16px;
  .glen-header-wrapper {
    display: flex;
    padding: 0 16px 8px;
    .glen-header-about {
      flex: 1;
      .glen-header-about-glen {
        @include fontSize(1em);
        display: flex;
        margin: 0;
        color: $azureishWhite;
        span {
          padding: 0 8px;
          border-right: solid 1px $azureishWhite;
          @include brightTextHover;
          &:first-of-type {padding-left: 0;}
          &:last-of-type {border:none; padding-right:0;}
        }
      }
    }
    .glen-header-links {
      display: flex;
      align-items: flex-end;
    }
  }
}

.glen-content {
  padding: 0 16px;
  .glen-section {
    padding: 1em 0;
    .glen-section-heading {
      @include fontSize(16px);
      margin: 0;
      margin-bottom: 1em;
      text-transform: uppercase;
      color: $smokyBlock;
      a {
        padding: 0 4px 0 20px;
        margin-left: -20px;
        color: $smokyBlock;
        border: solid 2px transparent;
        cursor: pointer;
        &:hover {
          border-color: $pictonBlue;
        }
      }
    }
  }

  .data-row {
    @include fontSize(14px);
    position: relative;
    padding: 2px 0;
    &:hover {
      background: $veryPaleYellow;
    }
  }

  .education .data-row {
    @include titleTypography();
    @include descriptionTypography();
    @include dateRangeTypography();
    
    &:hover {
      .data-gpa {
        font-weight: bold;
        padding: 0 8px;
      }
    }
  }

  .skills .data-row {
    @include titleTypography();
    @include descriptionTypography();
    display: flex;
    flex-direction: column;
    &:hover {
      .data-desc {
        padding: 0 8px;
      }
    }
  }

  

  .experience .data-row {
    @include dateRangeTypography();
    @include descriptionTypography();
    @include dutiesTypography();
    
    &:hover {
      .data-desc {
        padding-right: 8px;
      }
    }
  }

  .coursework .data-row {
    @include titleTypography();
    .data-courses {
      display: flex;
      flex-direction: column;
      .course:hover {
        .course-key {
          font-weight: bold;
        }
        .course-value {
          font-style: italic;
          padding: 0 8px;
        }
      }
    }
    .data-certifications {
      @include descriptionTypography();
      @include dateTypography();
      @include dutiesTypography();
    }
  }
}

.glen-footer {
  @include banner;
  @include fontSize(12px);
  padding: 8px 16px;
  margin: 16px 0;
}